*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav{
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.846);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav a{
    text-decoration: none;
    color: aliceblue;
    margin: 20px;
}

.sections{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.sections:nth-child(2n+1){
    background-color: rgb(170, 215, 255);
}